/* * {
    margin: 0;
    padding: 0;
  }
  
  body,
  html {
    height: 100%;
  } */
  

.error_style{
    color:red;
    font-size: 20px;
}
.good_style{
    color: green;
    font-size: 20px;
}

/* .div_center{
    
  width: 100px;
  border: 1px solid red;
  margin: auto;
} */